<form method="post" action="{{ path('app_course_delete', {'id': course.id}) }}" onsubmit="return confirm('Вы уверены, что хотите удалить курс и все уроки в нём?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course.id) }}">
    <button class="btn btn btn-outline-danger my-2">Удалить</button>
</form>
