{% extends 'base.html.twig' %}

{% block title %}Редактировать курс / StudyOn {% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Редактировать курс</h1>

        {{ include('course/_form.html.twig', {'button_label': 'Сохранить'}) }}
    </div>
{% endblock %}
