{% extends 'base.html.twig' %}

{% block title %} Новый урок / StudyOn {% endblock %}

{% block body %}
    <h1>Новый урок</h1>

    {{ include('lesson/_form.html.twig') }}

    <a href="{{ path('app_lesson_index') }}">Вернуться к списку</a>
{% endblock %}
