{% extends 'base.html.twig' %}

{% block title %} Новый урок / StudyOn {% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Новый урок</h1>

        {{ include('lesson/_form.html.twig', {'button_label': 'Создать'}) }}
    </div>
{% endblock %}
